<div>
<h2>All  Items</h2>

<ul>
<% @items.each do |item| %>
  <li>
    <a href="<%= item_path(item.id) %>">
      <%= item.summary  %>, (<%= item.item_image %>)
    </a>
  </li>
<% end %>
</ul>
</div>
