// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // background-image: url('https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2b5c3a30ad1ec478df74c83536d47e3&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  height: 100%;
  color: white!important;
  background-color: black;

}

div,h1,ul {
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
}

p, h3, h4 {

  color: white;
}

hr {

  background-color: white;
}

h4 {
 color: red;
}

h5 {
  color: grey;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}

li {

  color: red;
}

img {

  max-width: 30vw;
}

a {
color: white!important;


}

h1,h2 {

  color: green!important;
}
